@font-face {
    font-family: 'nunito';
    src: url(nunito.ttf);
}

body {
    background: rgb(51, 113, 184);
    font-family: 'nunito';
}

header {
    color: rgb(239, 239, 239);
    text-align: center;
}

section {
    color: rgb(25, 25, 25);
    background: rgb(239, 239, 239);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.335);
}

#verificar {
    border: none;
    background-color: rgb(51, 113, 184);
    border-radius: 5px;
    width: 90px;
    height: 35px;
    color: rgb(239, 239, 239);
    font-family: 'nunito';
    font-weight: 700;
    font-size: 13pt;
    cursor: pointer;
    margin: 10px;
}

#div1 {
    text-align: center;
}

#res {
    text-align: center;
    padding: 10px;
}

#img {
        width: 250px;  
        height: 250px;
        border-radius: 50%;
        object-fit: cover;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 0px;
        }

footer {
    color: rgb(239, 239, 239);
    text-align: center;
    font-style: italic;
}